 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body {
  margin: 1rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

 }
 nav {
  border:2px solid #333;
  border-radius: 10px;
  margin: 0 auto 1rem;
  max-width: 600px;
  font-size: 3rem;
  line-height: 7rem;
  
 }
 h2 {
  padding: 4px;
  background-color: gold;
  border-radius:10px 10px 0 0;

 }
 ul {
  list-style-type: none;
 }
 li {
  border-top: 2px solid #333;
 }
 li a,
 li a:visited {
text-decoration: none;
color: #333;
 }
 li a:hover,
 li a:focus{
  background-color: #333;
  color: whitesmoke;
  cursor: pointer;
 }
 li a {
  display: block;
 }
 li:last-child a{
  border-radius: 0 0 10px 10px;
 }
 
 